
<button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
</div>
<div ng-include="'views/partials/shelf.partial.html'"></div>
<div>
    <label>Ddog Url</label><input type="text" ng-model="vm.newDdog.imgUrl"> 
    <label>Add a Ddoggin' Description</label><input type="text" ng-model="vm.newDdog.description">
    <button ng-click="vm.shelfADdog(vm.user._id, vm.newDdog)">Shelf A Ddog</button>
</div>

<h2>Manage Your DDogs</h2>
<ul class="image-list">
    <li ng-repeat="userImage in vm.userImageList.list">
        <img class="image" ng-src="{{userImage.imgUrl}}" alt="">
        <p>{{userImage.description}}</p>
        <button class="delete" ng-click="vm.deleteUserImage(userImage._id)">Delete</button>
    </li>
</ul>